<div class="container" style="margin-top: 80px">

  <div class="row">
      <div class="col-md-6">
        <input id="1" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester I"(click)="displaySemesterRelatedBooks($event)"/>
      </div>
      <div class="col-md-6">
        <input id="2" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester II"(click)="displaySemesterRelatedBooks($event)"/>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <input id="3" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester III"(click)="displaySemesterRelatedBooks($event)"/>
    </div>
    <div class="col-md-6">
      <input id="4" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester IV"(click)="displaySemesterRelatedBooks($event)"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <input id="5" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester V"(click)="displaySemesterRelatedBooks($event)"/>
    </div>
    <div class="col-md-6">
      <input id="6" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester VI"(click)="displaySemesterRelatedBooks($event)"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <input id="7" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester VII"(click)="displaySemesterRelatedBooks($event)"/>
    </div>
    <div class="col-md-6">
      <input id="8" class="btn submit-btn btn-default sem-genres" type="submit" value="Semester VIII"(click)="displaySemesterRelatedBooks($event)"/>
    </div>
  </div>

</div>
