<!-- Original Content -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:900|Slabo+27px">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">


<section class="cover-photo">
  <div class="inner">
    <div class="content">
      <h1><strong> BHARATI BOOKSTOR<span class="underline">E</span> </strong></h1>
      <h2><span class="test">A Computer Department Initiative</span></h2>
    </div>
  </div>
</section>

<section id="testimonial">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="book" src="https://image.flaticon.com/icons/png/128/171/171322.png">
      <p style="text-align: justify; padding-top: 10px;">
        Skim through the books offered by us, issue, learn, develop, and grow. Issue books for a week,
        or your entire semester. Return the books on time, and you're welcome to issue again.      </p>
    </div>
    <div class="col-md-6">
      <img class="money" src="https://d30y9cdsu7xlg0.cloudfront.net/png/113937-200.png">
      <p style="text-align: justify; padding-top: 10px;">
        For each semester issue that you make, deposit a security amount of INR 600 with us,
        one-third of which will be refunded as soon as you return the books at the end of the semester.
      </p>
    </div>
  </div>
  </div>
</section>

<div class="container">
<section id="tech-stack">

  <h1 class="tech-stack-heading" style="text-align: center"><strong> TECHNOLOGY STAC<span class="underline">K</span> </strong></h1>
  <!-- Mongo DB Info Bar -->
  <section id="info-mongodb">
  <div class="row">
    <div class="col-md-6" align="center" >
      <div class="info-mongodb-left">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/800px-MongoDB-Logo.svg.png"
        style="width: 90%; align: center;"
      >
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-mongodb-right">
        <h4><strong> Mongo DB </strong></h4>
      <p style="text-align: justify">Mongodb is an open-source, document-based database. It makes use of JSON
        documents along with schemas. Because of the increase in the volume and variety of data over the past few
        years, there has been a need for a non-relational database. Mongodb fulfills this criteria, as it stores its data in a document-
        oriented, file structure. Each database can have multiple collections and data in those collections is stored in the form of array
        of JSON objects.
      </p>
      </div>
    </div>
  </div>
  </section>

  <hr>


  <!-- Express Info Bar -->
  <section id="info-expressjs">
  <div class="row">
    <div class="col-md-6">
      <div class="info-expressjs-left">
        <h4><strong> Express Backend </strong></h4>
        <p style="text-align: justify">A rock solid Node.js/Express server using Mongoose to organize models and query the database.
          It provides a robust set of fundamental web application features without obscuring Node.js features.
          Express makes it easy to create APIs because of access to
          middleware. Middleware functions are functions which have access to the request and response objects along with a next
          function, which when invoked, executes the middleware succeeding the current middleware.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-expressjs-right">
        <img class="img-responsive" src="https://cdn.keycdn.com/support/wp-content/uploads/2015/12/express-cdn.png"
             style="width: 90%; align: center;"
        >
      </div>
    </div>
  </div>
  </section>

  <hr>


  <!-- Angular-CLI Info Bar -->
  <section id="info-angular2">
    <div class="row">
      <div class="col-md-6">
        <div class="info-angular2-left">
          <img class="img-responsive" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSaem93qkEy9D0Jg3oYRjirr2VutYrQw0zha6O0TlScsC5-DGrz"
               style="width: 90%; align: center;"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="info-angular2-right">
          <h4><strong> Angular-CLI </strong></h4>
          <p style="text-align: justify">Angular is an open source web application framework, to create single page web application. It is a Javascript framework
            which can be added to an HTML page or any web page, with a &lt;script&gt; tag. Angularjs uses ng-directives to extend HTML.
            The Angularjs directives are simply HTML attributes to which a prefix is attached- ng. Angular forms the front end of the
            MEAN stack.
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr>



  <!-- Node JS Info Bar -->
  <section id="info-nodejs">
    <div class="row">
      <div class="col-md-6">
        <div class="info-nodejs-left">
          <h4><strong> Node js </strong></h4>
          <p style="text-align: justify">Node.js is an event-driven asynchronous JavaScript runtime which was primarily designed to make scalable network
            applications and APIs. Node Js was built on Chrome V8 Engine which is an open-source JavaScript engine developed on
            C++, and V8 implements the ECMAScript. Node.js uses an asynchronous event-driven, non-blocking I/O model that
            makes it lightweight, efficient and high-performance.
          </p>
        </div>
      </div>
      <div class="col-md-6" align="center">
        <div class="info-nodejs-right">
          <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/2000px-Node.js_logo_2015.svg.png"
               style="width: 90%; align: center;"
          >
        </div>
      </div>
    </div>
  </section>

  <hr>


  <!-- CSS3 Info Bar -->
  <section id="info-css3">
  <div class="row">
    <div class="col-md-6">
      <div class="info-css3-left">
        <img class="img-responsive" src="http://www.bobbyberberyan.com/wp-content/uploads/2012/03/HTML5CSS3Logos.svg"
             style="width: 85%; align: center;"
        >
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-css3-right">
        <h4><strong> HTML 5 & CSS 3 </strong></h4>
        <p style="text-align: justify">HTML5 is a markup language used for structuring and presenting content on the World Wide Web.
          HTML5 includes detailed processing models to encourage more interoperable implementations.
          It is also a candidate for cross-platform mobile applications, because it includes features designed with low-powered devices in mind.

          Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language.
          It is used to set the visual style of web pages and user interfaces written in HTML and XHTML.
        </p>
      </div>
    </div>
  </div>
  </section>

</section>
  <hr>

</div>



<div class="container">
  <section id="team">

    <h1 align="center" style="padding-top: 30px"><strong> OUR TEA<span class="underline">M</span> </strong></h1>

    <div class="row team">
      <div class="col-md-4">
        <div align="center">
          <img class="img-responsive" src="https://image.ibb.co/fzEN1Q/zomato_profile_crop_20160423_133148.jpg" class="img-circle">
          <h3><strong>Stuti Khanna</strong></h3>
          <p style="margin-top: 20px">Front End Developer</p>
        </div>
      </div>
      <div class="col-md-4">
        <div align="center">
          <img class="img-responsive" src="https://image.ibb.co/bMjSGQ/Shakir.jpg" class="img-circle">
          <h3><strong>Shakir Jameel</strong></h3>
          <p style="margin-top: 20px"><strong>Full Stack Developer</strong></p>
        </div>
      </div>
      <div class="col-md-4">
        <div align="center">
          <img class="img-responsive" src="https://image.ibb.co/i6brvk/2017_05_13_14_39_32.jpg" class="img-circle">
          <h3><strong>Sakshi Rangappa</strong></h3>
          <p style="margin-top: 20px">Front End Developer</p>
        </div>
      </div>
    </div>

  </section>
  <hr>
</div>

<section id="contact-us">
  <h1 align="center" style="padding-bottom: 30px"><strong> CONTACT U<span class="underline">S</span> </strong></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4 social">
        <h5 align="center"><strong>SOCIA<span class="underline-contact">L</span> </strong></h5>
        <div class="social-link" align="center"style="padding-top: 30px">
          <div class="fa fa-linkedin fa-lg fa-fw" aria-hidden="true" style="color: dodgerblue; vertical-align:middle;"></div>
          &nbsp; <br>
            <p style="display: inline;font-weight: 100;">Shakir Jameel</p><br>
            <p style="display: inline">linkedin.com/in/shakirjameel/</p><br>
            <p style="display: inline;font-weight: 100;">Stuti Khanna</p><br>
          &nbsp; <p style="display: inline">linkedin.com/in/stuti-khanna/</p><br>
            <p style="display: inline;font-weight: 100;">Sakshi Rangappa</p><br>
          &nbsp; <p style="display: inline">linkedin.com/in/sakshir/</p><br>

        </div>
      </div>
      <div class="col-md-4 call-us">
        <h5 align="center"><strong>CALL U<span class="underline-contact">S</span> </strong></h5>
        <div class="phone-link" align="center" style="padding-top: 30px">
          <div class="fa fa-phone-square fa-lg fa-fw" aria-hidden="true" style="color: lightslategrey; vertical-align:middle;"></div>
            <br>
            <p style="display: inline;font-weight: 100;">Shakir Jameel</p><br>
          &nbsp; <p style="display: inline">+91-9403473282</p><br>
            <p style="display: inline;font-weight: 100;">Stuti Khanna</p><br>
            <p style="display: inline">+91-7768982280</p><br>
            <p style="display: inline;font-weight: 100;">Sakshi Rangappa</p><br>
            <p style="display: inline">+91-8237296090</p><br>
        </div>
      </div>
      <div class="col-md-4 our-email">
        <h5 align="center"><strong>OUR EMAI<span class="underline-contact">L</span></strong></h5>
        <div class="email-link" align="center" style="padding-top: 30px">
          <div class="fa fa-envelope fa-lg fa-fw" aria-hidden="true" style="color: indianred; vertical-align:middle;"></div>
          <br>
          <p style="display: inline;font-weight: 100;">Shakir Jameel</p><br>
          <p style="display: inline">shakirjameel17@gmail.com</p><br>
          <p style="display: inline;font-weight: 100;">Stuti Khanna</p><br>
          <p style="display: inline">stuti.9582@gmail.com</p><br>
          <p style="display: inline;font-weight: 100;">Sakshi Rangappa</p><br>
          <p style="display: inline">sakshirangappa7@gmail.com</p><br>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p style="margin-top: 10px"><strong>&copy; 2017 Bharati Bookstore | Designed and Developed by Shakir Jameel</strong></p>
</footer>
