@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');


.highlights{
  color: #111111;
  font-family: 'Inconsolata', sans-serif;
  font-size: 110%;
}
.description-name {
  color: #111111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 200%;
}


.description {
  color: #111111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
}


.test{
  font-family: 'Open Sans', sans-serif;
}


.container-fluid{
  padding: 0;
  margin: 0;
}
.cover-photo{
  /* Set the height to match that of the viewport. */
  height: 100vh;
  /* Set the width to match that of the viewport. */
  width: 100%;

  /* Remove any browser-default margins. */
  margin-top: 0;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background: url("http://demo.mutationmedia.net/NEW/images/sliderImages/slide1.jpg") no-repeat 50% 50%;
  display: table;
  top: 0px;
  background-size: cover;
}

.cover-photo .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 130px;
}

.content h1{
  font-family: 'Open Sans Extrabold', sans-serif;
  color: #323232;
  /*text-shadow: 8px 2px 20px #a9a9a9;*/
  font-size: 290%;
}

.content h2{
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  /*text-shadow: 8px 2px 15px #a9a9a9;*/
  font-size: 200%;
}

.underline{
  border-bottom: 6px solid #323232;
}

.underline-contact {
  border-bottom: 3px solid #323232;
}

#testimonial {
  padding:50px 0 30px 0;
  color: #111111;
  background: #f1f1f1;
  text-align: center;
}

#testimonial p{
  font-size: 15px;
  color: #323232;
  font-weight: bold;
}

.money{
  width: 25%;
}
.book {
  width: 25%;
}
.row{
  margin-left: 50px;
  margin-right: 50px;
}

#tech-stack{
  padding: 80px 0 0 0;
}

#tech-stack p {
  font-size: 15px;
}
#team {
  padding: 0 0 0 0;
}

.team {
  padding: 80px 0 80px 0;
}

#contact-us{
  padding: 40px 0 80px 0;
}

#info-angular2, #info-css3, #info-expressjs, #info-html5, #info-mongodb, #info-nodejs p {

  font-family: "Open Sans",sans-serif;
  padding: 80px 0 80px 0;

}

.img-circle{
  /*border: 2px solid #323232;*/
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);

  border-radius: 50%;
  width: 80%;
}

.our-email, .call-us, .social {

  padding: 50px 0 50px 0;
}

.info-css3-right{
 margin-top: 30px;
}

h1 {
  font-family: 'Open Sans Extrabold', sans-serif;
  font-size: 40px;
  color: #323232;
}

#contact-us p {
  font-family: 'Inconsolata', sans-serif;
  font-size: medium;
}

footer {
  padding: 15px;
  color: #111111;
  background:  #f1f1f1;
  text-align: center;
}


